USE [IVMGMT]
GO
/****** Object:  Table [dbo].[BT_STK_TYPE]    Script Date: 6/16/2026 10:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BT_STK_TYPE](
	[STK_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STK_TYPE_NAME] [nvarchar](30) NULL,
	[STK_TYPE_DESC] [nvarchar](200) NULL,
	[TIME_LOG] [datetime] NULL,
	[USER_LOG] [nvarchar](20) NULL,
 CONSTRAINT [PK_BT_STK_TYPE] PRIMARY KEY CLUSTERED 
(
	[STK_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
